{{ template "header.html" }}

<div class="py-4">
  <div class="container">
    <div class="row">
        {{range .videos}}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <iframe
            src="{{ .URL }}"
            height="200"
            allow="accelerometer; autoplay;encrypted-media;gyroscope;picture-in-picture"
            allowfullscreen
            frameborder="0"
            class="car-img-top"
          ></iframe>
          <div class="card-body">
              <p class="card-text">
                  <h4>{{ .Title }}</h4>
                  <p>{{ .Description }}</p>
              </p>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</div>

{{ template "footer.html" }}
